// EssayWriting View Styles
// Extracted from EssayWriting.vue

@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap")

#essay-writing
  min-height: 100vh
  height: 100%
  background: rgba(245, 245, 245, 1)
  font-family: "Manrope", sans-serif

.background
  background: rgba(245, 245, 245, 1)

.title
  color: #111
  font-size: 26px
  font-style: normal
  font-weight: 800

.white-container
  padding-bottom: 150px

#step-container
  width: 30%
  padding: 0
  margin: 0

.main-button
  width: 100%

.button-parent
  max-width: 293px
  padding: 0 10px 0 10px

.essay-white-container
  height: fit-content
