// Home View Styles
// Extracted from Home.vue

.steps-banner
  padding: 64px 165px 84px 165px

.steps-title
  color: var(--text-gray-900, #18191f)
  font-feature-settings: "liga" off
  font-size: 48px
  font-style: normal
  font-weight: 800
  line-height: 64px

.steps-subtitle
  color: var(--text-gray-900, #18191f)
  font-feature-settings: "liga" off
  font-size: 18px
  font-style: normal
  font-weight: 400
  line-height: 32px
  margin-bottom: 40px

@media screen and (max-width: 800px)
  .steps-banner
    padding: 64px 30px
