// LabelSection View Styles
// Extracted from LabelSection.vue

span,
p
  white-space: pre-line

.toolbar
  position: absolute
  display: inline-block
  width: fit-content
  z-index: -1
  margin-top: -60px
  margin-left: -55px

.instructions
  color: #9b51e0
  font-feature-settings: "liga" off
  font-size: 22px
  font-style: normal
  font-weight: 700
  line-height: 30px
  text-align: center
  padding-top: 20px

.unselectable
  -moz-user-select: -moz-none
  -khtml-user-select: none
  -webkit-user-select: none
  -o-user-select: none
  user-select: none

::-moz-selection
  background: pink

::selection
  background: pink

.labelled-contain
  border-radius: 10px
  border: 0.5px solid var(--text-subtle, #969bab)
  max-width: 948px
